body{
	background-color: #FAFAD2;
	}
.yqq, td, th
	{
	border:solid green;
	}
	th
	{
	background-color:pink;
	color:white;
	}

img {
            position: absolute;
            top: 1px;
            left: 1px;
    }
